body{
font-family: Arial;
background:#f2f6fa;
text-align:center;
}

h1{
color:#2c3e50;
}

.menu{
margin-top:40px;
}

.btn{
display:inline-block;
padding:12px 25px;
margin:10px;
background:#3498db;
color:white;
text-decoration:none;
border-radius:8px;
}

.btn:hover

.stats{
display:flex;
justify-content:center;
gap:30px;
margin:20px;
}

.card{
background:white;
padding:20px;
border-radius:12px;
box-shadow:0 4px 10px rgba(0,0,0,0.1);
width:200px;
}

form input{
padding:10px;
width:200px;
}

form button{
padding:10px;
background:#27ae60;
color:white;
border:none;
}

.result{
margin-top:20px;
background:white;
display:inline-block;
padding:20px;
border-radius:10px;
}
